## Deliverable 2. Create a Customer Travel Destinations Map.

In [ ]:
#Dependencies
import pandas as pd
import requests
import gmaps
import numpy as np
#Keys
from config import g_key
gmaps.configure(api_key=g_key)

In [ ]:
city_data_df = pd.read_csv("../Weather_Databases/WeatherPy_Database.csv")
city_data_df = city_data_df.drop(["City"], axis = 1)
city_data_df = city_data_df.rename(columns= {"City.1": "City"})
city_data_df

In [6]:
min_temp = float(input("What is the minimum temperature you want for your trip? "))
max_temp = float(input("What is the maximum temperature you want for your trip? "))

What is the minimum temperature you want for your trip? 50
What is the maximum temperature you want for your trip? 90

In [8]:
preferred_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_temp_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Puntarenas,CR,9.9763,-84.8384,88.45,57,39,11.01,scattered clouds
1,Vaini,TO,-21.2000,-175.2000,82.56,94,100,6.91,overcast clouds
2,Ribeira Grande,PT,38.5167,-28.7000,59.40,82,40,8.05,scattered clouds
3,Bluff,NZ,-46.6000,168.3333,61.48,80,5,5.06,clear sky
4,Santa Cruz De Tenerife,ES,28.4682,-16.2546,64.72,77,40,21.85,scattered clouds
6,Ramnagar,IN,29.4000,79.1167,68.40,18,0,5.61,clear sky
7,Opuwo,NaN,-18.0607,13.8400,70.72,80,91,3.58,light rain
8,Ahipara,NZ,-35.1667,173.1667,69.98,75,29,5.66,scattered clouds
9,Bengkulu,ID,-3.8004,102.2655,74.97,86,97,4.14,overcast clouds
10,Punta Arenas,CL,-53.1500,-70.9167,51.91,43,0,20.71,clear sky

In [9]:
preferred_temp_df = preferred_temp_df.dropna()

In [10]:
hotel_df = preferred_temp_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puntarenas,CR,88.45,scattered clouds,9.9763,-84.8384,
1,Vaini,TO,82.56,overcast clouds,-21.2000,-175.2000,
2,Ribeira Grande,PT,59.40,scattered clouds,38.5167,-28.7000,
3,Bluff,NZ,61.48,clear sky,-46.6000,168.3333,
4,Santa Cruz De Tenerife,ES,64.72,scattered clouds,28.4682,-16.2546,
6,Ramnagar,IN,68.40,clear sky,29.4000,79.1167,
8,Ahipara,NZ,69.98,scattered clouds,-35.1667,173.1667,
9,Bengkulu,ID,74.97,overcast clouds,-3.8004,102.2655,
10,Punta Arenas,CL,51.91,clear sky,-53.1500,-70.9167,
12,Nova Olimpia,BR,76.19,overcast clouds,-14.7972,-57.2881,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

print("Commencing Hotel Match!      ")
print("-----------------------------")


# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
print("-----------------------------")
print("Hotel Match Complete!        ")
print("-----------------------------")

Commencing Hotel Match!
-----------------------------
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Hotel Match Complete!
-----------------------------

In [12]:
hotel_df.replace('', np.nan, inplace=True)
hotel_df = hotel_df.dropna()
hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puntarenas,CR,88.45,scattered clouds,9.9763,-84.8384,Michael's Surfside Hotel
1,Vaini,TO,82.56,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
2,Ribeira Grande,PT,59.40,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
3,Bluff,NZ,61.48,clear sky,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
4,Santa Cruz De Tenerife,ES,64.72,scattered clouds,28.4682,-16.2546,Hotel Silken Atlántida Santa Cruz
6,Ramnagar,IN,68.40,clear sky,29.4000,79.1167,Leisure Vacation Myrica Hotel
8,Ahipara,NZ,69.98,scattered clouds,-35.1667,173.1667,Ahipara Holiday Park
9,Bengkulu,ID,74.97,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
10,Punta Arenas,CL,51.91,clear sky,-53.1500,-70.9167,Hotel Hain
12,Nova Olimpia,BR,76.19,overcast clouds,-14.7972,-57.2881,Motel glamour
15,Bac Lieu,VN,79.81,scattered clouds,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
16,Ratnagiri,IN,77.23,broken clouds,16.9833,73.3000,Hotel Landmark
17,Port Alfred,ZA,70.50,clear sky,-33.5906,26.8910,The Halyards Hotel
19,New Norfolk,AU,53.10,scattered clouds,-42.7826,147.0587,The Shingles Riverside Cottages
20,Barquisimeto,VE,85.69,overcast clouds,10.0739,-69.3228,Hotel Príncipe

In [13]:
#File Export
output_data_file = "WeatherPy_vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City")

In [15]:
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temp</dt><dd>{Max Temp}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

locations = hotel_df[["Lat", "Lng"]]

In [16]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


fig

Figure(layout=FigureLayout(height='420px'))